<div class="Expanded__Card" (click)="toggleOpened(target)" #target>
  <app-info [title]="'CID'" [content]="cid"></app-info>

  <app-info
    [title]="'Queixa principal'"
    [content]="
      'lorem ipsum dolor amet situs creatus ets lorem ipsum dolor amet situs creatus ets lorem ipsum dolor amet situs creatus ets lorem ipsum dolor amet situs creatus ets lorem ipsum dolor amet situs creatus ets'
    "
  ></app-info>

  <app-info [title]="'Anamnese'" [content]="anamnese"></app-info>

  <app-info
    [title]="'Prescrição'"
    [content]="'Copiei e colei mesmo'"
  ></app-info>

  <app-info [title]="'Evolução'" [content]="evolucao"></app-info>

  <app-info [title]="'Obsevação'" [content]="observacao"></app-info>
</div>
